<html>
<head>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

	<title>Student Profile</title>
</head>
<body>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Team 5 Module</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Advisers
              <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                 <li><a href="/adviser/new">Create</a></li>
                 <li><a href="/adviser/list">View all</a></li>
                </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Students
              <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/student/new">Create</a></li>
                  <li><a href="/student/list">View all</a></li>
                </ul>
            </li>
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Theses
              <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/thesis/new">Create</a></li>
                  <li><a href="/thesis/list">View all</a></li>
                </ul>
            </li>
          </ul>
           <ul class="nav navbar-nav navbar-right">
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About us <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/module-1/1">Michael John Peralta</a></li>
                  <li><a href="/module-1/2">Jenny Castillo</a></li>
                </ul>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <br><br><br><!--/.nav-end -->
    <div class="container">
	<center>
	<div class="page-header">
		<h1><strong>Student View</strong></h1>
	</div>	
	
	{% for student in all_student %}
	{% if (student.key.id() == id) %}

	<table>

		<tr>
			<th style="width: 50px;"><b>Full Name:</b></th>
			<td>{{student.first_name}} {{student.last_name}}</td>
		</tr>
		<tr>
			<th style="width: 150px;"><b>Department:</b></th>
			<td>{{student.department}}</td>
		</tr>
		<tr>
			<th style="width: 150px;"><b>E-mail Address:</b></th>
			<td>{{student.email}}</td>
		</tr>
		<tr>
			<th style="width: 150px;"><b>Student Number:</b></th>
			<td>{{student.number}}</td>
		</tr>
		<tr>
			<th style="width: 100px;"><b>Remarks:</b></th>
			<td>{{student.remarks}}</td>
		</tr>
			
	</table>
	<br>
	
	<a href="/student/edit/{{student.key.id()}}" class="btn btn-danger">Edit</a>
	<a href="/student/new" class="btn btn-danger">Register</a>
	<a href="/student/list" class="btn btn-danger">Student List</a>
</center></div>
	{% endif %}
	{% endfor %}

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script> 
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>


</body>
</html>